<?xml version="1.0" ?>
<launch>
  <arg name="cmd_topic" default="/ptu/cmd" />
  <arg name="act_ns" default="/ptu" />
  <arg name="pan_joint" default="ptu_pan" />
  <arg name="tilt_joint" default="ptu_tilt" />
  <arg name="limits" default="$(find-pkg-share flir_ptu_action_server)/config/limits.yaml" />

  <group>
    <push_ros_namespace namespace="$(var act_ns)"/>
    <node name="ptz_action_server_node" pkg="flir_ptu_action_server" exec="flir_ptu_action_server_node">
      <param name="cmd_topic" value="$(var cmd_topic)" />
      <param name="pan_joint" value="$(var pan_joint)" />
      <param name="tilt_joint" value="$(var tilt_joint)" />
      <param name="act_ns" value="$(var act_ns)" />

      <!-- Load PTU limits from a file -->
      <param from="$(var limits)" />
    </node>
  </group>
</launch>
